
body {
  color: #333;
  font-family: pixel;
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:hidden;
}

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.align-column {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

@font-face {
  font-family: pixel;
  src: url(./pixelada.ttf);
}

h1 {
  color: rgb(247, 169, 0);
  font-family: pixel;
  font-size: 70px;
  user-select: none;
  text-shadow: #000000 1px 1px 1px;
  margin:0 ;
  margin-bottom:90px;
  padding-top: 40px;
  animation: fadeInText 1s;
}

h2,p {
  color:rgb(203, 148, 255);
  user-select: none;
  font-size: 20px;
  text-shadow: #333 1px 1px 1px;
  animation: fadeInText 1s;
}

h3 {
  color:rgb(247, 247, 247);
  user-select: none;
  font-size: 20px;
  text-shadow: #333 1px 1px 1px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 0px;
  animation: fadeInText 1s;
}


.explain{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  color: #FFF;
  text-shadow: #333 1px 1px 1px;
  
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  animation: fadeInText 1s;
}

a:hover {
  text-decoration: underline;
  color: rgb(0, 187, 255);
}

label {
  display: block;
}


.container-page{
  background: fixed;
  background-size:cover;
  background-repeat: repeat;
}

.back{
  min-height: 90vh;
 }

.display{
  display: flex;
  flex: auto;
  
}

@keyframes fadeInText{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}



